
:root { --primary-color: #FF7833;
        --secundary-color: #31333b;
        --secundary-color-light: #444856;
        --secundary-color-dark: #23252d;
        --three-color: #a9a7a7;
    
        --default-gap: 3rem;}


html { font-size: 62.5%;}

body { display: flex;
    margin: 0;
    background-color: #ccc;
    color: #e7e7e7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    min-height: 100vh;
    line-height: 1.7;
    }


h1 {
    font-size: 4rem;
    color: var(--three-color);
    margin-top: 2rem;
    margin-bottom: 3rem;
   
    }


h2, h3, h4, h5 {color: var(--primary-color); 
}

h2 { margin-top: 1rem;}


.hightlight { border-left: 1px solid var(--primary-color);
font-size: 1.1em;
padding-left: 2em;
margin-bottom: 2.2em;}

article { 
    display: ;
    padding: 1em 0;}


section { margin-bottom: 3rem;}

.main-header { flex: 0 0 26rem;
    background-color: var(--secundary-color);}
   
 .main { background-color: var(--secundary-color-light);
        flex: 1 0;
    padding: 6.5rem 6rem 7.5rem;}


a { color: inherit;}


.main, .main-header { font-size: 1.6rem;}


.perfil-img { max-width: 10rem;}

.main-nav { text-align: right;
            padding: 6.5rem 2.4rem;
            }

.main-nav ul {padding: 0;
            list-style-type: none;}

.main-nav ul a { display: block;
padding: 1.2rem 0;
text-decoration: none;
transition: padding-right .5s, background-color .4s;
background-color: transparent;}


.main-nav ul a:hover, .main-nav ul a:focus {background-color: var(--secundary-color-light);
padding-right: 1rem;}

.main-nav li { border-bottom: 0.2px solid #7b7b7b;
padding: .4rem 0;}



/* Inicio da página cards */

.card { max-width: 740px;
    background-color: var(--secundary-color);
    padding: 0;
        }


.card_content {padding: .5em 1em 1em; }


.card_content p, .card_title { margin: 0;}


.card_title { font-size: 1.75em;
color: var(--primary-color);
margin-bottom: .25em
;}

.card img { max-width: 100%;}


.row { display: flex;
        gap: var(--default-gap);
        padding-top: 1.5rem;
        justify-content: space-between;
        }


.row >* { 
    flex: 1 0 0%;

}

.row .row { padding-top: 0;}

/* Fim da página cards */


.alternate { list-style-type: none;
    padding-left: 0px;
    }


    .alternate li {padding: 0; }

.alternate li:not(:last-child) { border-bottom: 2px solid #fff;

}

.roman { list-style-type:upper-roman;}


.list-emoji { list-style-type: "\1F642";}

input, label, textarea, select { display: inline-block;
                width: 100%;
            box-sizing: border-box;}



input[type="radio"], input[type="checkbox"] { display: inline;
                    width: auto;

              }

input, textarea, select { background-color: #ccc;
    padding: 1.2rem;
border-radius: 5px;
margin-bottom:1.6rem;
border: 0;}


.btn { background-color: var(--secundary-color);
    color: #ccc;
    border: 2px solid var(--secundary-color-dark);
    font-size: 1.2rem;
    cursor: pointer;
   

   }


   .reset { cursor: pointer;}

.btn:hover, .btn:focus { background-color: var(--secundary-color-dark);}


.form-quiz { width: calc(50% - 1.5rem);}


.button {display: flex;
    align-items: left;
justify-content: space-around;}



.btn-normal { display: inline-block;
                padding: 10px;
                background-color:var(--secundary-color-dark);
                color: #ccc;
                border: none;
                border-radius: 5px;
                }


.normal { padding: 25px;}




.btn-outline { display: inline-block;
    padding: 10px;
    background-color:var(--secundary-color-dark) transparent;
    color: #ccc;
    border: 1px solid var(--secundary-color-dark);
    border-radius: 5px;}



    .outline {padding: 25px; }



    /* Inicio das tabelas */


    .table { width: 100%;
    border-collapse: collapse;}


    .table td:last-child, .table th:last-child { text-align: right;}


    .table td, .table th { 
    padding: 1.6rem;}


    .table:not(.table-alternate) td{border-bottom: 2px solid var(--secundary-color-dark); }


    .table th { text-transform: uppercase;
                    text-align: left;
            }

.table-alternate tbody tr:nth-child(odd) { background-color: var(--secundary-color-dark);}


.table-verticalLines td:not(:last-child), .table-verticalLines th:not(:last-child) {
    border: 2px solid var(--secundary-color);
 }


















