* { font-size: 40px;
    font-family: 'Courier New', Courier, monospace;}


    h1 { background-color: violet;
        margin: 20px;
        padding: 50px;
        color: aliceblue;}

        p { background-color: blanchedalmond;
        margin: 20px;
        padding: 20px;}

        