* {
    margin: 0;
    padding: 0;
}



img {
    display: block;
    max-width: 100%;
}


ul {
    list-style: none;

}

body { background-color: #faf6ed;
color: #222;
-webkit-font-smoothing: antialiased;
display: grid;
grid-template-columns: 1fr 120px minmax(300px, 800px) 1fr;
 ;}

.menu { 
    grid-column: 3 / 5;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #fd5;


}

.menu ul { 
    display: flex;
    flex-wrap: wrap;
    padding: 10px;

}

.menu li a {
    padding: 10px;
    margin-right: 10px;
    color: #222;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.875rem;
    letter-spacing: .1em;
}


.grid-section { 
    grid-column: 2 / 4;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 100px 300px 1fr;
    grid-gap: 20px;
    margin-bottom: 4rem;
}
.titulo { 
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 6rem;
line-height: 1;
font-weight: 400;
margin-bottom: 1rem;
grid-column: 1 / 4;
}


.animais h2 { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin-bottom: 1rem;
    color: #e54;
}

.animais h2::before {
    content: '';
    display: inline-block;
    width: 40px;
    height: 10px;
    margin-right: 10px;
    background: #fd5;
}

.animais p { 
    font-family: Arial, Helvetica, sans-serif;
    list-style: 1.2;
    margin-bottom: 1rem;
}

.animais-lista {

    height: 370px;
    overflow-y: scroll;
    grid-column: 2;

}

.animais-lista::-webkit-scrollbar{
    width: 18px;
}
.animais-lista::-webkit-scrollbar-thumb{
   background: #fd5;
   border-left: 4px solid #faf6ed;
   border-right: 4px solid #faf6ed;
}
.animais-lista::-webkit-scrollbar-track{
   background: #faf6ed;
}

.animais-descricao { 
    grid-column: 3;
}

.animais-descricao section {
    margin-bottom: 3rem;
}

.faq-lista{ 
    grid-column: 2 / 4;
}

.faq-lista dt { 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: .5rem;
    color: #e54;
}

.faq-lista dt::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #fd5;
}

.faq-lista dd { 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: .5rem;
    margin-left: 30px;
}


.mapa { 
    grid-column: 2;
}

.mapa img { 
    border: 2px solid #fd5;
}

.dados {
    grid-column: 3;
   
    
}
.dados li {
    margin-bottom: 1rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}


.dados li::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 10px;
    margin-right: 10px;
    background: #fd5;
}


.copy {
    grid-column: 3 / 5 ;
    margin-bottom: 2rem;
    background: #fd5;
  
}


.copy p { 
    padding: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

@media (max-width:700px) {

    body {
    grid-template-columns: 1fr;
    }
    .menu .grid-section .copy {
        grid-template-columns: 100px 1fr;
    }

    .grid-section { 
        grid-column: 1;
    }

    .faq-lista .dados .mapa{
        grid-column: 1 / 3;
    }
}

.grid-section h1 {
    font-size: 3rem;

}

.menu {
    margin-top: 0px;
}
.copy {
    margin-top: 0px;
}